.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#000000, #170024);
}
.containerIntro {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.containerImg {
  width: 400px;
}

.containerImg img {
  width: 100%;
  object-fit: cover;
  animation: left 2s ease;
}
.containerBuscador .titleBuscador {
  color: #ffffff;
  font-size: 40px;
  animation: fade 2s ease;
  margin-bottom: 15px;
}

.containerInput {
  display: flex;
  align-items: center;
  width: 250px;
  margin: 0 auto;
  background-color: rgba(236, 236, 236, 0.151);
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.557);
}

.containerInput input {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 3px 10px;
  outline: none;
  font-size: 20px;
  color: white;
}
.containerInput input::placeholder {
  color: rgba(240, 248, 255, 0.582);
}
.containerInput button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px 4px;
  transition: 0.5s;
}
.containerInput button:hover {
  transform: scale(1.1);
}

.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(236, 236, 236, 0.151);
  padding: 20px 80px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.557);
}

.main span, .main h2 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: start;
  margin-bottom: 5px;
}
.main p{
   color: #fff;
   font-size: 20px;
   text-align: start;
   margin-bottom: 5px;
 }


 
   
 @media(max-width: 720px){
   .containerIntro {
      flex-wrap: wrap !important;
      justify-content: center;
      transition: 1s;
   }
   .container {
    align-items: stretch;

   }
   .main{
   margin: 10px;
   padding: 20px 30px;
   transition: 1s;
   }
 }

 @media(max-width: 500px){
   .container {
    align-items: stretch;
    height: 100% !important;
   }

   .main{
      margin: 10px;
      padding: 20px 5px;
      }
 }

@keyframes fade {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes left {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: 0px;
  }
}
